extends layout
block body
	h2 Login
	form(method="post", action="/login")
		table
			tr
				td.label Username
				td
					input(type="text", name="username", value="#{username}")
				td.error
			tr
				td.label Password
				td
					input(type="password", name="password", value="")
			tr
				td(colspan="2")
					input.btn.pull-right(type="submit")
		br
		div.error #{login_error}
		br
		a(href="/signup") Not a user? Click here to sign up